<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="green">
                <v-toolbar-title>Acceso</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="usuario"
                    prepend-icon="mdi-account"
                    :error-messages="usuarioErrors"
                    required
                    label="Usuario"
                    type="text"
                    @input="$v.usuario.$touch()"
                    @blur="$v.usuario.$touch()">
                  </v-text-field>
                  <v-text-field
                    v-model="contrasena"
                    prepend-icon="mdi-lock"
                    :error-messages="contrasenaErrors"
                    label="Contraseña"
                    required
                    type="password"
                    @input="$v.contrasena.$touch()"
                    @blur="$v.contrasena.$touch()">
                  </v-text-field>
                  <v-select
                    v-model="rol"
                    prepend-icon="mdi-clipboard-text"
                    :error-messages="rolErrors"
                    :items="roles"
                    label="Rol"
                    required
                    @change="$v.rol.$touch()"
                    @blur="$v.rol.$touch()">
                  </v-select>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <h1>{{ errorLogin }}</h1>
                <v-btn color="green" @click="ingresar()">Ingresar</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
export default {
  data () {
    return {
      usuario: '',
      contrasena: '',
      rol: null,
      token: '',
      errorLogin: '',
      roles: [
        'Administrador',
        'Tecnico'
      ]
    }
  },
  methods: {
    ingresar () {
      if (this.usuario && this.contrasena && this.rol) {
        this.token = this.usuario + this.contrasena + this.rol
        this.token = btoa(this.token) /// Combierte en base64
        localStorage.setItem('token', this.token)
        if (this.rol === 'Administrador') {
          this.$router.push('/adm')
        } else {
          this.$router.push('/tec')
        }
      } else {
        this.errorLogin = 'Introduzca los datos requeridos'
      }
    }
  },
  validations: {
    usuario: { required },
    contrasena: { required },
    rol: { required }
  },
  computed: {
    usuarioErrors () {
      const errors = []
      if (!this.$v.usuario.$dirty) return errors
      !this.$v.usuario.required && errors.push('Usuario es requerido.')
      return errors
    },
    contrasenaErrors () {
      const errors = []
      if (!this.$v.contrasena.$dirty) return errors
      !this.$v.contrasena.required && errors.push('Contraseña es requerido.')
      return errors
    },
    rolErrors () {
      const errors = []
      if (!this.$v.rol.$dirty) return errors
      !this.$v.rol.required && errors.push('Rol es requerido.')
      return errors
    }
  }
}
</script>
