<template>
  <v-app>
    <v-dialog v-model="dialogEdit" max-width="500px">
      <v-card>
        <v-text-field v-model="usuario.usuario" label="usuario">
        </v-text-field>
        <v-text-field v-model="usuario.contrasena" label="Contraseña">
        </v-text-field>
        <v-text-field v-model="usuario.rol" label="Rol">
        </v-text-field>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="guardarDatos()">Guardar</v-btn>
          <v-btn color="blue darken-1" text @click="closeDelete()">Cancelar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-app-bar app color="green" dense dark>
      <v-toolbar-title>{{ nombrePagina }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="salir()">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <section class="pa-md-10">
        <v-btn color="green" class="mb-md-10" @click="abrirdialog()">agregar</v-btn>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th>ID</th>
                <th class="text-left">Usuario</th>
                <th class="text-left">Contraseña</th>
                <th class="text-left">Rol</th>
                <th>Fecha Creación</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(rol, index) of roles" :key="index">
                <td>{{ index + 1 }}</td>
                <td>{{ rol.usuario }}</td>
                <td>{{ rol.contrasena }}</td>
                <td>{{ rol.rol }}</td>
                <td>{{ rol.fechaCreacion }}</td>
                <td>
                  <v-btn fab small color="green" @click="editarUsuario(index)">
                    <v-icon dark>
                      mdi-pencil
                    </v-icon>
                  </v-btn>
                  <v-btn fab small color="red" @click="borrarUsuario(index)">
                    <v-icon dark>
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </section>
    </v-main>
  </v-app>
</template>
<script>
export default {
  data () {
    return {
      nombrePagina: 'Administrador',
      usuario: {},
      dialogEdit: false,
      indexUsuario: null,
      roles: [
        {
          id: 1,
          usuario: 'jtorrez',
          contrasena: 'dfgfd7765%$)s',
          rol: 'Administrador',
          fechaCreacion: new Date()
        },
        {
          id: 2,
          usuario: 'agonsales',
          contrasena: 'sdfsd%%d7765%$)s',
          rol: 'Tecnico',
          fechaCreacion: new Date()
        }
      ]
    }
  },
  methods: {
    salir () {
      localStorage.clear()
      this.$router.push('/')
    },
    borrarUsuario (index) {
      this.roles.splice(index, 1)
    },
    editarUsuario (index) {
      this.indexUsuario = index
      this.usuario = { ...this.roles[index] }
      this.dialogEdit = true
    },
    closeDelete () {
      this.usuario = {}
      this.dialogEdit = false
    },
    guardarDatos () {
      this.usuario.fechaCreacion = new Date()
      if (this.indexUsuario != null) {
        this.roles[this.indexUsuario] = { ...this.usuario }
        const usuarioParcial = [...this.roles]
        this.roles = null
        this.roles = usuarioParcial
      } else {
        this.roles.push(this.usuario)
      }
      this.usuario = {}
      this.dialogEdit = false
    },
    abrirdialog () {
      this.dialogEdit = true
    }
  },
  watch: {
    '$route' (to, from) {
      this.nombrePagina = to.name
    }
  }
}
</script>
