<template>
  <v-app>
    <v-dialog v-model="dialogEdit" max-width="500px">
      <v-card>
        <v-text-field v-model="producto.producto" label="Producto">
        </v-text-field>
        <v-text-field v-model="producto.descripcion" label="Descripcion">
        </v-text-field>
        <v-text-field v-model="producto.precio" label="Precio">
        </v-text-field>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="guardarDatos()">Guardar</v-btn>
          <v-btn color="blue darken-1" text @click="closeDelete()">Cancelar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-app-bar app color="green" dense dark>
      <v-toolbar-title>{{ nombrePagina }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="salir()">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <section class="pa-md-10">
        <v-btn color="green" class="mb-md-10" @click="abrirdialog()">agregar</v-btn>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th>ID</th>
                <th class="text-left">Producto</th>
                <th class="text-left">Descripcion</th>
                <th class="text-left">Precio (BS.)</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(producto, index) of productos" :key="index">
                <td>{{ index + 1 }}</td>
                <td>{{ producto.producto }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>
                  <v-btn fab small color="green" @click="editarProducto(index)">
                    <v-icon dark>
                      mdi-pencil
                    </v-icon>
                  </v-btn>
                  <v-btn fab small color="red" @click="borrarProducto(index)">
                    <v-icon dark>
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </section>
    </v-main>
  </v-app>
</template>
<script>
export default {
  data () {
    return {
      nombrePagina: 'Tecnico',
      dialogEdit: false,
      producto: {},
      indexProducto: null,
      productos: [
        {
          id: 1,
          producto: 'Pina Reyna En Rodajas',
          descripcion: 'Pina Reyna En Rodajas 850G',
          precio: '17,90'
        },
        {
          id: 2,
          producto: 'Pan deLeche',
          descripcion: 'Pan Ketal Leche bolsa de 10 unidades',
          precio: '7,00'
        },
        {
          id: 3,
          producto: 'Crema De Leche Nestle',
          descripcion: 'Crema De Leche Nestle 300Gr',
          precio: '12,90'
        },
        {
          id: 4,
          producto: 'Barra Chocolate Arcor Blanco',
          descripcion: 'Barra Chocolate Arcor Blanco 80G',
          precio: '12,50'
        },
        {
          id: 5,
          producto: 'Gelatina Pil Yeli Cereza',
          descripcion: 'Gelatina Pil Yeli Cereza 120Gr',
          precio: '1,80'
        }
      ]
    }
  },
  methods: {
    salir () {
      localStorage.clear()
      this.$router.push('/')
    },
    borrarProducto (index) {
      this.productos.splice(index, 1)
    },
    editarProducto (index) {
      this.indexProducto = index
      this.producto = { ...this.productos[index] }
      this.dialogEdit = true
    },
    closeDelete () {
      this.dialogEdit = false
    },
    guardarDatos () {
      if (this.indexProducto != null) {
        this.productos[this.indexProducto] = { ...this.producto }
        const productosParcial = [...this.productos]
        this.productos = null
        this.productos = productosParcial
      } else {
        this.productos.push(this.producto)
      }
      this.dialogEdit = false
    },
    abrirdialog () {
      this.dialogEdit = true
    }
  },
  watch: {
    '$route' (to, from) {
      this.nombrePagina = to.name
    }
  }
}
</script>
